{% macro dict_to_param_string(pdict) -%}
  {%- set ns = namespace(spacer="") -%}
  {%- set ns = namespace(listspacer="") -%}
  {%- for pname, pval in pdict.items() %}
    {%- if pval != "None" %}
    {%- if pval is not iterable or pval is string %}
      {%- set pval = [pval] %}
    {%- endif -%}
    {{ ns.spacer }}{{ pname }}
    {%- set ns.listspacer="" %}
    {%- for item in pval -%}
      {{ ns.listspacer }}={{ item }}
      {%- set ns.listspacer=" %s"|format(pname) -%}
    {%- endfor %}
    {%- set ns.spacer=" " %}
    {%- endif %}
  {%- endfor -%}
{%- endmacro -%}
